    <!-- <div class="flex justify-between mt-10 <<< md:justify-around lg:hidden">
      <div class="ml-5">
      <h5 class="font-sans text-xl font-semibold">STUDY LOUNGES</h5>
      <p class="text-base font-sans text-gray-300">{{room_count}} Lounges Available</p>
      </div>
       <div class="bg-black p-3 mr-5 rounded-full ">
      
      {% if request.user.is_authenticated %}
          <button class="text-gray-100 text-base font-semibold " id="open-smallscreen-modal"><i class="fa-solid fa-plus"></i>    Create Lounge</button>
          {% else %}
          <a href="{% url 'login'%}">
              <button class="text-gray-100 text-base font-semibold" ><i class="fa-solid fa-plus"></i>    Create Lounge</button>
          </a>
          
      {% endif %}
        
    
     </div>
    </div> -->