
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />


   <div id="delete-modal"  class="" style=" position:fixed; top:-0; left:0; width:100%; height:100%; background-color: rgba(0,0,0,0.5)">

    <div id="modal-content" class=" m-auto m-0 mt-32 <<<<< md:w-3/4 md:  lg:w-3/4" >
      <div class=" bg-gray-50   m-auto m-0 rounded-lg">
        
      <div class="flex bg-gray-400 text-gray-200 rounded-t-lg p-3 pl-5 font-semibold"><p class="pl-5 text-center">Delete Room</p></div>


    
      <div class="p-5">
         <form action="" method="POST">
      <div class="flex flex-col space-y-5">
       
          {% csrf_token %}
        <h2 class="text-center">Are you sure you want to delete <span class="font-semibold">"{{room_obj}}"</span>?</h2>

        <div class="m-auto m-0 space-x-10">
  <button type="submit" class="mt-5 p-3 border-2 border-green-400 hover:bg-green-600 w-auto rounded-lg font-semibold text-gray-500 hover:text-gray-200"><a href="{{request.META.HTTP_REFERER}}">Cancel</a></button>

      <button type="submit" class="mt-5 p-3 border-2 border-red-400  hover:bg-red-600 w-auto rounded-lg font-semibold text-gray-500 hover:text-gray-200">Confirm</button>

        </div>
      
    
    
      </div>
        </form>
      </div>
    </div>
  </div>
  </div>


