{% load static %}
<div class="mt-10 mb-5 lg:w-11/12 w-screen "> 
        <div class="flex justify-center space-x-10 <<<< md:space-x-60  lg:flex lg:space-x-60">
      <div class="">
      <h5 class="font-sans text-lg font-semibold">STUDY LOUNGES</h5>
      <p class="text-base font-sans text-gray-300">{{room_count}} Lounges Available</p>
      </div>
     <div class="bg-black p-3 mr-5 rounded-full ">
      
      {% if request.user.is_authenticated %}
          <button class="text-gray-100 text-base font-semibold " id="open-create-modal"><i class="fa-solid fa-plus"></i>    Create Lounge</button>
          {% else %}
          <a href="{% url 'login'%}">
              <button class="text-gray-100 text-base font-semibold" ><i class="fa-solid fa-plus"></i>    Create Lounge</button>
          </a>
          
      {% endif %}
        
    
     </div>
    </div>



  <!-- Rooms Start -->
  <!-- <div class="overflow-y-scroll h-1/4 container"> -->
{% for room in rooms %}
   <div class="w-2/3  m-auto m-0 bg-gray-50 p-5 mt-5 rounded-lg shadow-lg ">
      <div class="flex justify-between">
        <div class="flex  space-x-3">
      <div class="">
       
        {% if room.host.avatar.url %}
        <a href="{% url 'user-profile' room.host.id %}"> 
  <div class="border-2 border-gray-300 rounded-full p-4 mt-2 bg-no-repeat  bg-cover bg-center " style="background-image: url('{{room.host.avatar.url}}'); width:10px">
  </div>
  </a>
    {% endif %}
    
        </div>
        <p class="mt-4"><a href="{% url 'user-profile' room.host.id %}">{{room.host.username|title}}</a></p>
        </div>
           <p class="text-xs text-end">{{room.created|timesince}} ago</p>
       
      </div>

         <h2 class="pt-5 text-xl font-semibold"><a href="{% url 'room' room.id %}">{{room.name}}</a></h2>
   

        
    
      <hr class="mt-5">
      <div class="flex justify-between mt-5">
        <p> <a href="{{room.participants.all.count}}"><i class="fa-solid fa-people-group text-gray-200"></i>Joined</a></p>
        <span class="bg-gray-200 p-1 rounded-lg text-xs"> {{room.topic.name}}</span>
      </div>
    </div>  

  {% endfor %}


<div id="create-modal" class="z-20"
  style="display: none; position:fixed; top:-0; left:0; width:100%; height:100%; background-color: rgba(0,0,0,0.5)">

  <div id="modal-content" class=" m-auto m-0   ">
    <div class=" bg-gray-50  mdal m-auto m-0 rounded-lg">

      <div class="flex bg-gray-400 text-gray-200 rounded-t-lg p-3 pl-5 font-semibold"><span class="pl-5 cursor-pointer"
          id="close-modal"><i class="fa-regular fa-circle-xmark "></i></span>
        <p class="pl-5">Create Lounge</p>
      </div>


      <div class="p-5">
        <form action="" method="POST">
          <div class="flex flex-col space-y-5">

            {% csrf_token %}
            <label for="room_topic">Topic</label>
            <div class="p-3  bg-transparent outline-none border-gray-200 border-2  rounded-sm">
              <input required type="text" value="{{room.topic.name}}" name="topic" list="topic-list" />
              <datalist id="topic-list">
                <select id="room_topic">
                  {% for topic in topics %}
                  <option value="{{topic.name}}">{{topic.name}}</option>
                  {% endfor %}
                </select>
              </datalist>
            </div>
            <!-- <input class="p-3  bg-transparent focus:outline-none focus:ring-2 focus:border border-gray-200 border-2 focus:ring-gray-200 rounded-sm"  type="text" placeholder="Room Heading"> -->
            <label for="room_topic">Lounge Name</label>
            <div class="p-3  bg-transparent outline-none border-gray-200 border-2  rounded-sm">
              {{form.name}}
            </div>
            <!-- <input class="p-3  bg-transparent focus:outline-none focus:ring-2 focus:border border-gray-200 border-2 focus:ring-gray-200 rounded-sm"  type="textarea" placeholder="description"> -->
            <label for="room_topic">Lounge Description</label>
            <div class="p-3  bg-transparent outline-none border-gray-200 border-2  rounded-sm h-48"
              style="outline: none;">
              {{form.description}}
            </div>
            <button type="submit"
              class="mt-5 p-3 bg-gray-400 w-auto rounded-lg font-semibold text-gray-200 hover:opacity-80">Create</button>

          </div>
        </form>
      </div>

    </div>
  </div>
</div>



  
  <script>
    const openCreateModal = document.getElementById('open-create-modal')
    const createModal = document.getElementById('create-modal')

    openCreateModal.onclick = function(){
      if(createModal.style.display === 'none'){
        createModal.style.display = 'block'
      }
    }
  </script>
    

     
    
    <!-- End rooms -->
  </div>