    <div class="pl-10 mt-32 <<< lg:hidden"  >
            <div class="border-2 outline-none border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-300  mt-2 flex  md:hidden   lg:hidden w-2/3 ml-7">
        <form action="{% url 'home' %}" method="GET">
        <input 
          type="search"name="q" id=""  placeholder="Search Posts"
          class="  outline-none bg-transparent pl-5" /> 
        </form>
     
      </div>

          <div class="flex items-center space-x-10  mt-10 md:justify-center">
            <div class="border-2 p-2 border-gray-400 rounded-lg font-semibold" id=""><a href="{% url 'topics'%}">Browser Topics</a></div>
              <div class="border-2 p-2 border-gray-400 rounded-lg font-semibold"><a href="{% url 'activity'%}">Recent Activities</a></div>
          </div>
    </div>

      <div id="browse-topic-modal"  class="" style="display: none; position:fixed; top:-40px; left:0;  width:100%; height:100vh; background-color: rgba(0,0,0,0.7)">

    <div id="modal-content" class=" m-auto m-0 mt-20" style="width: 60%;">
      <div class=" bg-gray-50   rounded-lg ">
        
      <div class="flex bg-gray-400 text-gray-200 rounded-t-lg p-3 pl-5 font-semibold mt-10"><span class="pl-5 cursor-pointer" id="trash-modal"><i class="fa-solid fa-left-long"></i></span><p class="pl-5">BROWSE TOPICS</p></div>


      <div class="p-5">
      <div class="flex flex-col space-y-5 ">
       
          {% comment %} <div class="border-2 outline-none border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-300  m-auto m-0 flex  <<< lg:w-60">
        <form action="" method="GET" class="flex">
   <input 
          type="search"name="quest" id=""  placeholder="Search Topics"
          class="  p-2 outline-none bg-transparent " /> 
          
          <i class="fa-solid fa-magnifying-glass pt-3 pr-3 text-gray-400"></i>
        </form>
     
      </div> {% endcomment %}
  
      <div class=" overflow-auto container h-96" >
       <ul class="flex flex-col space-y-10 pt-5">
     {% for topic  in topicHomes %}

         <li class="pl-0 text-center"><span><a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}} <span class="bg-gray-200 p-2 rounded-lg font-semibold ">{{topic.room_set.all.count}}</span></a></span> </li>
          
        {% endfor %}

       </ul>
      </div>

    
      </div>

      </div>
      
    </div>
  </div>
  </div>