 const passwordEl = document.getElementById("password-el");
  const toggleEl = document.getElementById("toggle-el");

  const password1 = document.getElementById("password1")
  const toggle = document.getElementById("toggle");

  const password2 = document.getElementById("password2")
  const toggleComfirm = document.getElementById("toggle-comfirm");

  function visibilityToggle() {
    
   if (passwordEl.type === "password") {
     passwordEl.type = "text";
     toggleEl.innerHTML = `<i class="fa-solid fa-eye text-gray-500"> </i> `;
   } else {
     passwordEl.type = "password";
     toggleEl.innerHTML = `<i class="fa-solid fa-eye-slash text-gray-500"></i> `;
   }
 }

   function visibilityToggle1() {
    
   if (password1.type === "password") {
     password1.type = "text";
     toggle.innerHTML = `<i class="fa-solid fa-eye text-gray-500"> </i> `;
   } else {
     password1.type = "password";
     toggle.innerHTML = `<i class="fa-solid fa-eye-slash text-gray-500"></i> `;
   }
 }


  function visibilityToggle2() {
    
   if (password2.type === "password") {
     password2.type = "text";
     toggleComfirm.innerHTML = `<i class="fa-solid fa-eye text-gray-500"> </i> `;
   } else {
     password2.type = "password";
     toggleComfirm.innerHTML = `<i class="fa-solid fa-eye-slash text-gray-500"></i> `;
   }
 }