{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudyLounge</title>
    {% include "components/extensions/linksComponent.html" %}
  </head>
  <body style="font-family: ABeeZee;">
    {% comment %} Header Section  {% endcomment %}
       <header class="flex justify-between shadow-md p-2 fixed top-0 w-screen bg-white">
 <a href="{% url 'home' %}">
         <div class="ml-5 flex mt-2">
        <img class="w-10" src="{% static 'icons/logo.svg' %}" alt="" srcset="" />
        <div class="text-gray-400 font-semibold mt-2 ml-2 mt-3">
          StudyLounge
        </div>
      </div>
 </a>
      <div class="border-2 outline-none border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-gray-300  mt-2 flex hidden lg:block">
        <input 
          type="search"name=" " id=""  placeholder="Search Posts"
          class="  p-2 outline-none bg-transparent lg:w-80" /> <i class="fa-solid fa-magnifying-glass pt-3 pr-3 text-gray-400"></i>
      </div>
<div class="flex mr-0  ">
    
    {% if  request.user.is_authenticated %}
    <div class="">
         {% if request.user.avatar.url %}
  <div class="border-2 border-gray-300 rounded-full p-5 bg-no-repeat  bg-cover bg-center <<< lg:p-7" style="background-image: url('{{request.user.avatar.url}}'); ">
  </div>
    {% endif %} 
        </div> 

            <a href="{% url 'user-profile' request.user.id %}">
  <span class=" pl-2 text-xs text-gray-700 cursor-pointer"><span>{{request.user.username}} <span class="font-semibold text-2xl text-green-400 animate-pulse">.</span></span>         <br>{{request.user}}</span> 
            </a>
              


      <p id="chevron-el" class="mt-2 pl-2 font-semibold font-sans text-base text-gray-400 cursor-pointer chevron-el" onclick="navVisibility()"><i class="fa-solid fa-chevron-down text-gray-200"></i></p>
{% else %}
<img class=" mr-3 cursor-pointer" width="40" src="{% static 'icons/avatar.svg' %}" alt="" />     
    {% endif %}

      </div>
   
      <div class="fixed top-16 right-5 mr-3 bg-gray-50 p-4 rounded-lg mt-3 shadow-sm" id="auth-nav" style="display: none;">
        <ul>
          <li class="text-gray-400 hover:text-gray-700 focus:text-gray-700"><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div>
    </header>
    {% block content %}
      
    {% endblock content %}
    <script src="{% static 'styles/js/index.js' %}"></script>
  </body>
</html>